.opt-type{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 25pt;
  margin: .5rem;
  border: none;
  color: #2d2d2d;
  border-radius: .5rem;
  background-color: #e7e7e7;

  &.opt-type-selected{
    background-color: #2d2d2d;
    color: #e7e7e7;
    border: .01rem solid #e7e7e7;
  }
}

.settings{
  width: 50%;
  padding: .75rem;
  margin: auto;
}

div.table{
  width: 100%;
  background-color: #e7e7e7;
  border-radius: .5rem;
  overflow: hidden;

  .t-col div{
    width: 5rem;
    height: 5rem;
    color: #2d2d2d;
    border: .15rem solid #2d2d2d;
    font-size: 20pt;
    font-weight: bold;
    transition-duration: .5s;

    &:hover{
      cursor: pointer;
      background-color: #2777e6;
    }

    &.not:hover{
      cursor: not-allowed;
      background-color: rgb(235, 123, 123);
    }

    &:nth-child(1){
      border-top: none;
      border-left: none;
      border-right: none;
    }
    &:nth-child(2){
      border-top: none;
      border-right: none;
    }
    &:nth-child(3){
      border-right: none;
      border-top: none;
    }
  }
}